body {
	background-color: #6441A5;
}

h1 {
	color: white;
}

.all-btn {
	background-color: #B2A900;
	color: white;
}

.online-btn {
	background-color: #FFF294;
}

.offline-btn {
	background-color: #3D19FF;
	color: white;
}

.online {
	background-color: #FFF294;
	margin-top: 10px;
	border: 1px solid white;
	border-radius: 4px;
	padding-bottom: 2px;
	padding-top: 2px
}

.offline {
	background-color: #3D19FF;
	color: white;
	margin-top: 10px;
	border: 1px solid white;
	border-radius: 4px;
	padding-bottom: 2px;
	padding-top: 2px
}

.dne {
	background-color: #696969;
	color: white;
	margin-top: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	border: 1px solid white;
	border-radius: 4px;
}

.logo {
	max-width: 42px;
  	max-height: 42px;
  	border: 1px solid white;
  	border-radius: 4px;
  }