body {
	background-color: #6441A5;
}

h1 {
	color: white;
}

.all {
	background-color: #B2A900;
	color: white;
}

.online {
	background-color: #FFF294;
}

.offline {
	background-color: #3D19FF;
	color: white;
}